<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七曲署売上集計アプリ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class="page-container">
        <h1>新しい売り上げを追加する</h1>
        <div id="alert-placeholder" style="display: flex; justify-content: center;"></div>

        <form action="/add" method="post" id="salesForm">
            <!-- 各フォームグループ -->
            <div class="form-group full-length">
                <label for="date">日付:</label>
                <input type="date" id="date" name="date" required value="{{ form_data.get('date', yesterday) }}">
            </div>
            <div class="form-group full-length">
                <label for="sets">組数:</label>
                <input type="number" id="sets" name="sets" required min="0" step="1" value="{{ form_data['sets'][0] if form_data.get('sets') }}">
            </div>
            <div class="form-group full-length">
                <label for="customers">客数:</label>
                <input type="number" id="customers" name="customers" required min="0" step="1" value="{{ form_data['customers'][0] if form_data.get('customers') }}">
            </div>
            <div class="form-group full-length">
                <label for="bowls">丼数:</label>
                <input type="number" id="bowls" name="bowls" required min="0" step="1" value="{{ form_data['bowls'][0] if form_data.get('bowls') }}">
            </div>
            <div class="form-group full-length">
                <label for="purchase_total">仕入れ額:</label>
                <input type="number" id="purchase_total" name="purchase_total" required min="0" step="1" value="{{ form_data['purchase_total'][0] if form_data.get('purchase_total') }}">
            </div>
            <!-- 短めの項目 -->
            <div class="form-group short-input">
                <label for="cash_total">現金合計:</label>
                <input type="number" id="cash_total" name="cash_total" required min="0" step="1" value="{{ form_data['cash_total'][0] if form_data.get('cash_total') }}">
            </div>
            <div class="form-group short-input">
                <label for="card_total">カード合計:</label>
                <input type="number" id="card_total" name="card_total" required min="0" step="1" value="{{ form_data['card_total'][0] if form_data.get('card_total') }}">
            </div>
            <div class="form-group short-input">
                <label for="rakuten_pay">楽天pay:</label>
                <input type="number" id="rakuten_pay" name="rakuten_pay" required min="0" step="1" value="{{ form_data['rakuten_pay'][0] if form_data.get('rakuten_pay') }}">
            </div>
            <div class="form-group short-input">
                <label for="paypay">paypay:</label>
                <input type="number" id="paypay" name="paypay" required min="0" step="1" value="{{ form_data['paypay'][0] if form_data.get('paypay') }}">
            </div>
            <div class="form-group short-input">
                <label for="usd_total">USD負担合計:</label>
                <input type="number" id="usd_total" name="usd_total" required min="0" step="1" value="{{ form_data['usd_total'][0] if form_data.get('usd_total') }}">
            </div>
            <div class="form-group full-length">
                <label for="total_price">合計値段:</label>
                <input type="number" id="total_price" name="total_price" required readonly value="{{ form_data['total_price'][0] if form_data.get('total_price') }}">
            </div>
            <div class="form-group full-length">
                <label for="remarks">備考欄:</label>
                <textarea id="remarks" name="remarks" rows="4" class="form-control">{{ form_data.get('remarks', '') }}</textarea>
            </div>
            <!-- add.html 内の <form> タグ内に追加 -->
            <input type="hidden" id="calculatedBusinessDay" name="calculatedBusinessDay" value="">

            
            <div class="btn-container">
                <input type="submit" class="btn btn-primary" value="送信">
                <a class="btn btn-secondary" href="/">戻る</a>
            </div>


        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

    </div>

</body>
</html>